.section ol li  {margin-bottom: .4em;}
.section ul li  {margin-bottom: .4em;}

.rst-content img {width:auto;max-width: 90%;
margin-left: 5%;}

img {
max-height: 30em;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img[alt="w10p"] {max-width: 10%;margin-left:50%;}
img[alt="w20p"] {max-width: 20%;margin-left:35%;}
img[alt="w30p"] {max-width: 30%;margin-left:30%;}
img[alt="w50p"] {max-width: 50%;margin-left:25%;}


 .ethical-dark-theme .ethical-sidebar  { display: none!important;
    }
.caption-text {
        font-weight : bold;
    }

body {
        counter-reset : h2counter;
    }
    .subnav {
        counter-reset : h2counter;
    }

    .toctree-l3 a:before {
        content: counter(h2counter,decimal) ". ";
        counter-increment : h2counter;
        counter-reset : licounter;
    }
    .toctree-14 :before {
        content: counter(h2counter,decimal) "." counter(licounter,decimal) ". ";
        counter-increment : licounter;
        } 

.toctree-l3 a{
font-weight: bold!important;
 }

.toctree-l4 {
padding-left:4em!important;
 }

body {
counter-reset : h2;
    }

h2 {
counter-reset : h3;
    }

h3 {
counter-reset : h4;
    }

h4 {
counter-reset : h5;
    }

h5 {
counter-reset : h6;
    }

h2:before {
content : counter(h2,decimal) ". ";
counter-increment : h2;
    }

h3:before {
content : counter(h2,decimal) "." counter(h3,decimal) ". ";
counter-increment : h3;
    }

h4:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
counter-increment : h4;
    }

h5:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
counter-increment : h5;
    }

h6:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
counter-increment : h6;
    }

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
content : "";
counter-increment : none;
    }